@font-face {
  font-family: 'iconfont';  /* project id 904593 */
  src: url('//at.alicdn.com/t/font_904593_pgbv84wt91.eot');
  src: url('//at.alicdn.com/t/font_904593_pgbv84wt91.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_904593_pgbv84wt91.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_904593_pgbv84wt91.woff') format('woff'),
  url('//at.alicdn.com/t/font_904593_pgbv84wt91.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_904593_pgbv84wt91.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


/*全站滚动条*/
::-webkit-scrollbar {
  width: 12px;
  height: 6px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(200, 80, 192, 0.2);
  // opacity: 0.1;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #4158D0;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 0px;
  background-color: #CCCCCC;
}

/** margin  **/

.ml5{
  margin-left: 5px;
}
.ml10{
  margin-left: 10px;
}
.ml20{
  margin-left: 20px;
}
.ml30{
  margin-left: 30px;
}

.mt5{
  margin-top: 5px;
}
.mt10{
  margin-top: 10px;
}
.mt20{
  margin-top: 20px;
}
.mt30{
  margin-top: 30px;
}

.mr5{
  margin-right: 5px;
}
.mr10{
  margin-right: 10px;
}
.mr20{
  margin-right: 20px;
}
.mr30{
  margin-right: 30px;
}

.mb5{
  margin-bottom: 5px;
}
.mb10{
  margin-bottom: 10px;
}
.mb20{
  margin-bottom: 20px;
}
.mb30{
  margin-bottom: 30px;
}

/**  font-size  **/

.fs12{
  font-size: 12px;
  line-height: 100%;
}
.fs13{
  font-size: 13px;
  line-height: 100%;
}
.fs14{
  font-size: 14px;
  line-height: 100%;
}
.fs15{
  font-size: 15px;
  line-height: 100%;
}
.fs16{
  font-size: 16px;
  line-height: 100%;
}
.fs17{
  font-size: 17px;
  line-height: 100%;
}
.fs18{
  font-size: 18px;
  line-height: 100%;
}
.fs19{
  font-size: 19px;
  line-height: 100%;
}
.fs20{
  font-size: 20px;
  line-height: 100%;
}
.fs12{
  font-size: 12px;
  line-height: 100%;
}
.fs21{
  font-size: 21px;
  line-height: 100%;
}
.fs22{
  font-size: 22px;
  line-height: 100%;
}
.fs23{
  font-size: 23px;
  line-height: 100%;
}
.fs24{
  font-size: 24px;
  line-height: 100%;
}
.fs25{
  font-size: 25px;
  line-height: 100%;
}


/**  color  **/

.cfff{
  color: #fff;
}
.c333{
  color: #333;
}
.c666{
  color: #666;
}
.c999{
  color: #999;
}
.cccc{
  color: #ccc;
}
.c000{
  color: #000;
}

/**  font-weight **/

.fwl{
  font-weight: lighter;
}
.fwb{
  font-weight: bold;
}

/**  flex  **/

.flex-cc{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-c-cc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-sc{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-c-sc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.flex-ac{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-c-ac{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.flex-ec{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.flex-c-ec{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/**  float  **/

.fl{
  float: left !important;
}
.fr{
  float: right !important;
}